$yellow: #FFDC00;
$darkblue: #1c2833;

body {
  margin: 0;
  font-family: sans-serif;
  color: $darkblue;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $yellow;
}

.countdown {
  width: 400px;
  height: 250px;
  margin-bottom: 20px;
  text-align: center;
}

.timer {
  padding: 50px;
  padding-bottom: 80px;
  font-size: 4.5em;
}

.timer, .minutes {
  font-family: monospace, sans-serif;
}

.start-stop {
  width: 80%;
  font-size: 1.7em;
  text-transform: lowercase;
}

.interval-lengths {
  width: 400px * 0.8;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.session, .break {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-length, .break-length {
  font-size: 1em;

  .minutes {
    font-size: 2.5em;
  }
}

.interval-lengths button {
  font-size: 1.2em;
  margin: 0 auto;
}
