$yellow: #FAD764;
$black: #1c2833;

body {
  margin: 0;
  font-family: sans-serif;
  color: $black;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $yellow;
}

.countdown {
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: -40px;
}

// .clock {
//   width: 220px;
//   height: 220px;
//   border-radius: 50%;
//   background-color: rgba(255, 255, 255, 0.6);
//   position: absolute;
// }

#timer {
  font: {
    size: 4.5em;
    family: monospace, sans-serif;
  }
  line-height: 0;
  padding: 50% 0;
}

.minutes {
  font-family: monospace, sans-serif;
}

#start {
  font-size: 1.7em;
  position: absolute;
  text-transform: lowercase;
  top: 110%;
  left: 10%;
  width: 80%;
}

.interval-lengths {
  width: 400px * 0.8;
  margin-top: 30px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.session, .break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.session-length, .break-length {
  font-size: 1em;

  .minutes {
    font-size: 2.5em;
  }
}

.buttons {
  display: flex;
}

.interval-lengths button {
  font-size: 1.2em;
  width: 30px;
  margin: 5px;
}
