$yellow: #FAD764;
$black: #1c2833;

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: $black;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $yellow;
}

.countdown {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -40px;
}

#timer {
  font: {
    size: 4.5em;
    family: monospace, sans-serif;
  }
  line-height: 0;
  padding: 100px 0;
}

.minutes {
  font-family: monospace, sans-serif;
}

#start {
  font-size: 1.7em;
  text-transform: lowercase;
  width: 350px * 0.8;
}

.interval-lengths {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.session, .break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.session-length, .break-length {
  font-size: 1em;

  .minutes {
    font-size: 2.5em;
  }
}

.buttons {
  display: flex;
}

.interval-lengths button {
  font-size: 1.3em;
  height: 40px;
  width: 40px;
  margin: 8px;
  text-align: center;
}


@media screen and (min-width: 550px) {
  .interval-lengths {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
